OPENROUTER_API_KEY= met ta clé API OpenRouter ici 
OPENROUTER_SITE_URL=http://localhost:8000
OPENROUTER_SITE_NAME= met le nom de ton site OpenRouter ici (ex: valentinaAI)
# Optionnel - si tu préfères OpenAI
# OPENAI_API_KEY=ta_clé_api_openai_icimètres avancés 
